/* --- Layout -------------------------------------------------*/
body {
    margin: 0 auto; 
    margin-top: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255)!important;
    color: rgb(34, 34, 34);
    font-family: Arial,Helvetica,sans-serif;
}
/* 
header {

}

main {

} */
/* --- Typography -------------------------------------------------*/
h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
}

/* --- Table Styles -------------------------------------------------*/
.MuiTableCell-root {
    font-family: Arial,Helvetica,sans-serif!important;
}

.MuiDialog-paper {
    max-width: 1000px!important;
    width: 100%!important;
}